@use "media-breakpoint" as *;
@use "sass:color";
@use "sass:math";
    
@mixin reset() {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        font-family: inherit;
        font-size: inherit; 
        margin: 0; 
        padding: 0;
    }
}
          
@mixin typography($regular, $size) {
    html {
        font-family: $regular, sans-serif;
        font-size: $size;
        line-height: 1.8;
        @include media('>=phone') {
            font-size: $size + 2;
        }
        @include media('>=tablet') {
            font-size: $size + 4;
        }
        @include media('>=desktop') {
            font-size: $size + 6;
        }
    }
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, img, figcaption, table {
        margin-bottom: 2rem;
    }
    @for $i from 1 through 6 {
        .heading-#{$i} {
            font-size: (1rem + math.div($i, 3));
        }
    }
    p {
        font-size: 1rem;
    }
    blockquote {
        font-style: italic;
        padding: 0 2rem;
    }
    ul, ol {
        padding-left: 2rem;
    }
    pre, code {
        font-family: monospace;
    }
    img {
        width: 100%;
        height: auto;
        margin-bottom: math.div($size, 2);
    }
    figcaption {
        font-size: 90%;
        font-style: italic;
        text-align: center;
    }
    table {
        border: 2px solid hsl(0, 0%, 20%);
        width: 100%;
        thead {
            tr {
                th {
                    background-color: #eeeeee;
                    border: 1px solid hsl(0, 0%, 80%);
                    padding: 15px 10px;
                }
            }
        }
        tbody {
            tr {
                td {
                    border: 1px solid hsl(0, 0%, 80%);
                    padding: 5px 10px;
                }
            }
        }
    }
}

/**
 ** HOW TO USE
 *? Apply this mixin to the parent element of <iframe>
 *  <div class="iframe-div">
 *      <iframe></iframe>
 *  </div>
 */

@mixin responsive-iframe($x, $y) {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: math.div($y, $x) * 100%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

/**
 ** RATIO
 *? Maintain the aspect ratio $x:$y 
 *? HTML: <div> <div>{content}</div> </div>
 *? The width property only works with relative units
 */

@mixin maintain-ratio($x, $y, $w) {
    position: relative;
    width: $w; // ? Work with vw, vh, vmin, vmax, %
    &::before {
        display: block;
        content: "";
        padding-top: math.div($y, $x) * 100;
        > div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

/**
 ** REMOVE SCROLLBAR
 *? Remove the scrollbar but keep the scrolling feature
 *? Aplly this mixin to the html tag or any element you want to remove scrollbar
 */

@mixin remove-scrollbar() {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}