
/**
 ** @USE RULES
 *? Give access to SASS functions, mixins & variables
 */
@use "media-breakpoint" as *;
@use "variables" as *;
@use "mixins" as *;

/**
 ** IMPORTS
 *? Google Fonts 
 *? 1: 'Nunito', sans-serif
 *? 2: 'Open sans', sans-serif
 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/**
 ** INITIALIZATION
 *? 1: Reset
 *? 2: Typography
 */

@include reset();
@include typography('Nunito', 14px);

/**
 ** LAYOUT
 *
 */

.iframe-div {
    @include responsive-iframe(16,9);
}

.main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "editor" "previewer";
    background: #f0eee5;
    padding: 5vh;
    gap: 10px;
    
    @include media('>=tablet') {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "editor previewer";
    }

    .markdown__editor {
        @include remove-scrollbar();
        grid-area: editor;
        background: #fcfcfc;
        border-radius: 20px;
        height: 90vh;
        overflow-y: scroll;
        padding: 2rem;
        textarea {
            @include remove-scrollbar();
            outline: none
        }
    }

    .markdown__previewer {
        @include remove-scrollbar();
        grid-area: previewer;
        background: white;
        border-radius: 20px;
        height: 90vh;
        overflow-y: scroll;
        padding: 2rem;
    }
}

/**
 ** COMPONENTS
 *
 */

blockquote {
    border-left: 5px solid #303030;
    font-style: normal;
    &::before {
        content: "❝";
        font-size: 3rem;
        font-style: normal;
    }
}

code {
    background: #f1f1f1;
    border-radius: 3px;
    color: black;
    padding: 5px;
}