html {
	font-size: 18px;
	line-height: 1.8;
}
img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
}
h2 {
	font-size: 1.8rem;
	font-weight: 600;
}
h3 {
	font-size: 1.6rem;
	font-weight: 600;
}
h4 {
	font-size: 1.4rem;
	font-weight: 600;
}
h5 {
	font-size: 1.2rem;
	font-weight: 600;
}
h6 {
	font-size: 1rem;
	font-weight: 600;
}
p {
	font-size: 1rem;
}
a {
	color: white;
}
code {
	background-color: #f3f3f3;
	color: #424242;
}
table {
  width: 100%;
}
table, th, td {
  border: 1px solid #ffffff69;
}
table th, table td {
	padding: 10px;
}